@tailwind base;
@tailwind components;
@tailwind utilities;


*::selection {
  color: #ffffff;
  background-color: #3d5ac0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: rgb(206, 194, 194);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(149, 130, 130, 0.73);
  border-radius: 2px;
}
